//contact STYLESHEET

//contact variables
$contact-height: 500px;

//contact outer container
.contact-outer {
  min-height: $contact-height;
  background-color: $light-grey;
  padding: 50px 0;
  // -webkit-transform: translate3d(0,0,0);
}

.contact-inner {
  min-height: $contact-height;
}

.contact-header {
  color: $dark-grey;
  text-align: center;
  margin-top: 70px;
  text-transform: uppercase;
}

.contact-text-wrapper {
  margin-top: 30px;

  p {
    text-align: center;
    color: $dark-grey;
    font-size: 18px;
    line-height: 35px;
    font-weight: lighter;

    a {
      color: $dark-med-grey;
      text-decoration: none;

      &:hover {
        color: $ttc-orange;
      }
    }
  }
}
