//footer STYLESHEET

//footer variables
$footer-height: 200px;

//footer outer container
.footer-outer {
  min-height: $footer-height;
  background-color: $dark-grey;
}

.footer-inner {
  min-height: $footer-height;
}
