//give STYLESHEET

//give variables
$give-height: 500px;

//give outer container
.give-outer {
  min-height: $give-height;
  background-color: $light-gold;
  padding: 50px 0 100px 0;
  // -webkit-transform: translate3d(0,0,0);
}

.give-inner {
  min-height: $give-height;
  text-align: center;
}

.give-header {
  color: $white;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 70px;
  text-transform: uppercase;
}

.give-sub-header {
  color: $white;
  font-size: 50px;
  margin-top: 80px;
}

.give-text-wrapper {
  margin-top: 30px;

  p {
    text-align: center;
    color: $white;
    font-size: 18px;
    line-height: 35px;
    font-weight: lighter;

    a {
      color: $dark-med-grey;
      text-decoration: none;

      &:hover {
        color: $ttc-orange;
      }
    }
  }
}

//give button
.give-btn-block {
  margin-top: 50px;
}
.give-btn-wrapper {
  text-align: center;
  margin-top: 10px;

  a {
    cursor: pointer;
    width: 240px;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
    border-width: 2px;
    border-style: solid;
    border-color: $white;
    color: $white;
    background: transparent;
    padding: 15px 40px;
    display: inline-block;
    text-decoration: none;


    &:hover {
      background: $white;
      color: $light-gold;
    }
  }
}
