//HEADER STYLESHEET

//header variables
$header-height: 100vh;
$header-nav-height: 100px;

//header outer container
.header-outer {
  width: 100%;
  height: $header-height;
  background: url('../images/trail.jpg') center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  top: 0;
  overflow: hidden;
  z-index: 1;
}

.header-outer::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0, 0.2);
}

//header social nav
.header-social-nav {
  position: fixed;
  right: 0;
  z-index: 2;
  display: inline-block;
  margin: 0 10px;
  padding: 0;
  list-style: none;
  height: $header-nav-height;

}

.header-social-nav-item {
  display: inline-block;

  a {
    display: block;
    padding: 0 5px;

    i{
      line-height: $header-nav-height;
      font-size: 25px;
      color: $white;
      transition: 0.35s;

      &:hover {
        color: $ttc-orange;
      }
    }
  }
}

//Header banner container
.header-banner-inner {
  position: relative;
  top: 22%;
}

.banner-logo-outer {


}

.banner-logo-wrapper {
  float: none;
  width: 71%;
}

.banner-logo {

}

.chevron-wrapper {
  margin-top: 30px;
}

.chevron-link:link{
  color: $white;
}

.chevron-link {
  color: $white;
  text-decoration: none !important;
  font-size: 30px;
  transition: 0.35s;

  &:hover {
    color: $ttc-orange;
    text-decoration: none !important;
  }
}


//HEADER NAV
.header-nav-logo-wrapper {
  display: flex;
  align-items: center;
  position: absolute;
  margin-left: 15px;
  height: $header-nav-height;
  width: 80px;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  z-index: 6;
}

.header-nav-logo {

}

.header-nav-outer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0;
  z-index: 1;
  height: $header-nav-height;
}

.header-nav-inner {
  text-align: center;
}

.header-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  float: none;
  height: $header-nav-height;
  line-height: $header-nav-height;
  background-color: rgba(0, 0, 0, 0.2);
}

.header-nav-item {
  display: inline-block;
  width: 100px;

  a {
    line-height: $header-nav-height;
    display: block;
    padding: 0 15px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 13px;
    color: white;
    transition: 0.35s;

    &:hover {
      color: $ttc-orange;
    }
  }
}

/* ---------------------------------------- */
// Sticky Header Styles

body.sticky-header {
  padding-top: $header-height;
}

body.sticky-header .header-outer {
  position: fixed;
  height: $header-nav-height;
  // background: $ttc-blue;
  // transition: background;
  // transition-property: background;
  // transition-duration: 0.3s;
  // transition-timing-function: ease;
  // transition-delay: 0.8s;

  &:before {
    // background: rgba(0,0,0,0.3);
  }
}

body.sticky-header
.header-nav-outer
.header-nav-inner
.header-nav {
  // background-color: rgba(0, 0, 0, 0);
}

body.sticky-header .header-banner-inner {
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
}

body.sticky-header
.header-nav-outer
.header-nav-logo-wrapper {
  visibility: visible;
  opacity: 1;
  -ms-transform: rotate(-20deg); /* IE 9 */
  -webkit-transform: rotate(-20deg); /* Chrome, Safari, Opera */
  transform: rotate(-20deg);
  transition: visibility, opacity, transform;
  transition-property: visibility, opacity, transform;
  transition-duration: 0.1s, 1s, 0.5s;
  transition-timing-function: initial, initial;
  // transition-delay: s;

  &:hover {
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    transition: transform 3s linear;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    // transition-delay: 0.3s;
  }
}


// Media Query

@media screen and (max-width: 768px) {

  $mobile-nav-height: 100vh;

  .header-outer {
    background-attachment: scroll;
  }

  .header-banner-inner {
    top: 28%;
  }

  .header-nav-outer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    height: $header-nav-height;
  }

  .header-nav-item {
    display: block;
    position: relative;
    top: 110px;
    width: 200px;
    float: none;
    visibility: hidden;
    opacity: 0;
  }

  .header-social-nav {
    visibility: hidden;
    bottom: 0;
    opacity: 0;
    transition: 0;
  }

  //mobile nav
  // Hamburg menu



@mixin btn($right, $top) {
  position: absolute;
  width: 30px;
  height: 25px;
  top: $top;
  right: $right;
  vertical-align: middle;
  transition-duration: 0.5s;
}

@mixin icon($height, $width) {
  transition-duration: 0.5s;
  position: absolute;
  height: $height;
  width: $width;
  top: 10px;
  background: $white;
}

@mixin icon-before($height, $width, $top) {
  transition-duration: 0.5s;
  position: absolute;
  width: $width;
  height: $height;
  background: $white;
  content: "";
  top: $top;
}

@mixin icon-after($height, $width, $top) {
  transition-duration: 0.5s;
  position: absolute;
  width: $width;
  height: $height;
  background: $white;
  content: "";
  top: $top;
}

.btn2{
  @include btn(30px, 37px);
  z-index: 5;

  .icon {
    @include icon(4px, 28px);

    &:before{
      @include icon-before(4px, 28px, -10px);
    }

    &:after{
      @include icon-after(4px, 28px, 10px);
    }
  }

  &.open {
    .icon {
      transition-duration: 0.5s;
      background: transparent;

      &:before{
        transform: rotateZ(45deg) scaleX(1.25) translate(6px, 6px);
        background: $ttc-orange;
      }

      &:after{
        transform: rotateZ(-45deg) scaleX(1.25) translate(6.5px, -6.6px);
        background: $ttc-orange;
      }
    }
  }
  &:hover {
    cursor: pointer;
  }
}

// Active menu styles

.header-nav-item.nav-active:nth-child(1) {
  transition-delay: 0.1s;
}

.header-nav-item.nav-active:nth-child(2) {
  transition-delay: 0.2s;
}

.header-nav-item.nav-active:nth-child(3) {
  transition-delay: 0.3s;
}

.header-nav-item.nav-active:nth-child(4) {
  transition-delay: 0.4s;
}

.menu-active {
  height: $mobile-nav-height;
  background-color: $ttc-blue;
  position: absolute;
  z-index: 5;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  // transition: 0.35s;
}

.nav-active {
  visibility: visible;
  opacity: 1;
  transition: 0.35s;
}

.logo-active {
  visibility: visible;
  opacity: 1;
  -ms-transform: rotate(-20deg); /* IE 9 */
  -webkit-transform: rotate(-20deg); /* Chrome, Safari, Opera */
  transform: rotate(-20deg);
  transition: visibility, opacity, transform;
  transition-property: visibility, opacity, transform;
  transition-duration: 0.1s, 1s, 0.5s;
  transition-timing-function: initial, initial;

  &:hover {
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    transition: transform 3s linear;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    // transition-delay: 0.3s;
  }
}

.social-active {
  visibility: visible;
  opacity: 1;
  transition: 0.35s;
}

}
