//HEADER STYLESHEET

//header variables
$header-height: 90vh;
$header-nav-height: 100px;

//header outer container
.header-outer {
  width: 100%;
  height: $header-height;
  background: url('../images/trail.jpg') center center;
  background-size: cover;
  position: relative;
  top: 0;
  overflow: hidden;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header-outer::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0, 0.3);
}

.header-social-nav {
  position: relative;
  float: right;
  z-index: 1;
  display: inline-block;
  margin: 0 10px;
  padding: 0;
  list-style: none;
  height: $header-nav-height;

}

//header social nav
.header-social-nav-item {
  display: inline-block;

  a {
    display: block;
    padding: 0 5px;

    i{
      line-height: $header-nav-height;
      font-size: 25px;
      color: $white;
      transition: 0.35s;

      &:hover {
        color: $ttc-orange;
      }
    }
  }
}

.header-banner-inner {
  position: relative;
  top: 100px;
}

.banner-logo-outer {


}

.banner-logo-wrapper {
  float: none;
}

.banner-logo {

}


//HEADER NAV

.header-nav-logo-wrapper {
  display: flex;
  align-items: center;
  position: absolute;
  margin-left: 15px;
  height: $header-nav-height;
  width: 80px;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
}

.header-nav-logo {

}

.header-nav-outer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0;
  height: $header-nav-height;
}

.header-nav-inner {
  text-align: center;
}

.header-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  float: none;
  height: $header-nav-height;
  line-height: $header-nav-height;
  background-color: rgba(0, 0, 0, 0.2);
}

.header-nav-item {
  display: inline-block;
  width: 100px;

  a {
    line-height: $header-nav-height;
    display: block;
    padding: 0 15px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 13px;
    color: white;
    transition: 0.35s;

    &:hover {
      color: $ttc-orange;
    }
  }
}

/* ---------------------------------------- */
// Sticky Header Styles

body.sticky-header {
  padding-top: 100px;
}

body.sticky-header .header-outer {
  position: fixed;
  height: $header-nav-height;
  background: $ttc-blue;
}

body.sticky-header
.header-nav-outer
.header-nav-inner
.header-nav {
  background-color: rgba(0, 0, 0, 0);
}

body.sticky-header .header-banner-inner {
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
}

body.sticky-header
.header-nav-outer
.header-nav-logo-wrapper {
  visibility: visible;
  opacity: 1;
  -ms-transform: rotate(-20deg); /* IE 9 */
  -webkit-transform: rotate(-20deg); /* Chrome, Safari, Opera */
  transform: rotate(-20deg);
  transition: visibility .5s, opacity 3s, transform;
  transition-property: visibility, opacity, transform;
  transition-duration: 0.5s, 1s, 1s;
  transition-timing-function: initial, initial;
  transition-delay: 0.6s, 0.6s, 0.8s;

  &:hover {
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    transition: transform 3s linear;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    // transition-delay: 0.3s;
  }
}
