//join STYLESHEET

//join variables
$join-height: 500px;

//join outer container
.join-outer {
  min-height: $join-height;
  background-color: $dark-grey;
  width: 100%;
  background: url('https://lh3.googleusercontent.com/M7Sqz3tLGplGFA0FqWlSE7mXfDVU991H9bLRwRKOnSFuQXH0SX8_RJsrBxjG9wV6dhpWHZk39Bb7RiLS1zfbelkShGWU1lGPCw3oWYe7X_JbLmbYLI0vIDEEE-GHZHgMIekR3ixBBg');
  background-size: cover;
  // background-attachment: fixed;
  background-position: center;
  position: relative;
  top: 0;
  overflow: hidden;
  padding: 50px 0;
  // -webkit-transform: translate3d(0,0,0);
}

.header-outer::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0, 0.2);
}

.join-inner {
  min-height: $join-height;
}

.join-header {
  color: $white;
  text-align: center;
  margin-top: 70px;
  text-transform: uppercase;
}

.join-text-wrapper {
  margin-top: 30px;

  p {
    text-align: center;
    color: $white;
    font-size: 18px;
    line-height: 35px;
    font-weight: lighter;
  }
}


//MC Styles

#mc-embedded-subscribe-form {
  text-align: center;
  margin-top: 50px;
}

.form-inner {
  display: inline-block;
}

#mc-embedded-subscribe-form {

}

.email-input-wrapper {
  display: inline-block;

  div {
    position: absolute;
    visibility: hidden;
  }
}

.email-input {
  display: inline-block;
  width: 390px;
  height: 52px;
  border: none;
  padding: 0 15px;

  &:focus {
    outline: none;
  }
}

.mce_inline_error {

}

.sub-button-wrapper {
  display: inline-block;
}

.sub-button {
  display: inline-block;
  padding: 15px 30px;
  text-transform: uppercase;
  margin-left: -4px;
  border: none;
  font-size: 16px;
  background: $med-grey;
  color: $dark-med-grey;
  font-weight: bold;

  &:focus {
    outline: none;
  }

  &:hover {
    background: $dark-med-grey;
    color: $med-grey;
  }
}

#mce-responses {
  color: $white;
  margin: 0 100px;
  margin-top: 40px;

  div {
    a {
      color: $white;
      text-decoration: none;

      &:hover {
        color: $ttc-orange;
      }
    }
  }
}


@media (max-width: 519px) {

  .sub-button {
    width: 390px;
    margin-left: 0;
  }
}
