//join STYLESHEET

//join variables
$join-height: 500px;

//join outer container
.join-outer {
  min-height: $join-height;
  background-color: $dark-grey;
  width: 100%;
  background: url('../images/worship.jpg') center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  top: 0;
  overflow: hidden;
  z-index: 0;
  padding: 50px 0;
}

.header-outer::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0, 0.2);
}

.join-inner {
  min-height: $join-height;
}

.join-header {
  color: $white;
  text-align: center;
  margin-top: 70px;
  text-transform: uppercase;
}

.join-text-wrapper {
  margin-top: 30px;

  p {
    text-align: center;
    color: $white;
    font-size: 18px;
    line-height: 35px;
    font-weight: lighter;
  }
}


//MC Styles

#mc-embedded-subscribe-form {
  text-align: center;
  margin-top: 50px;
}

.form-inner {
  display: inline-block;
}

#mc-embedded-subscribe-form {

}

.email-input-wrapper {
  display: inline-block;
}

.email-input {
  display: inline-block;
  width: 390px;
  height: 52px;
  border: none;
  padding-left: 15px;

  &:focus {
    outline: none;
  }
}

.mce_inline_error {

}

.sub-button-wrapper {
  display: inline-block;
}

.sub-button {
  padding: 15px 30px;
  text-transform: uppercase;
  margin-left: -5px;
  border: none;
  font-size: 16px;
  background: $med-grey;
  color: $dark-med-grey;
  font-weight: bold;

  &:focus {
    outline: none;
  }

  &:hover {
    background: $dark-med-grey;
    color: $med-grey;
  }
}
