
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

//Global Variables
@import 'variables';

//Sass Partials/Style Sheets
@import 'header';
@import 'vision';
@import 'join';
@import 'giving';
@import 'location';
@import 'contact';
@import 'footer';

*,
*::before,
*::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  background-color: $light-grey;
  font-family: 'Montserrat', sans-serif;
}
